name: Create Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Set up Python
        run: uv python install 3.12

      - name: Prepare Plugin directory
        run: |
          mkdir -p release/qflowcrate
          cp -r plugin/* release/qflowcrate/

      - name: Install dependencies to libs
        run: |
          mkdir -p release/qflowcrate/libs
          uv pip install --target release/qflowcrate/libs rocrate

      - name: Create ZIP
        run: |
          cd release
          zip -r qflowcrate-${{ github.ref_name }}.zip \
            qflowcrate/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/qflowcrate-${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
